# Data Wrangling
'Data Wrangling' generally refers to transforming raw data into a useable form for your analyses of interest, including loading, aggregating and formating.

## Python I/O

In [3]:
!cat data.txt

First line of data
Second line of data

In [5]:
file_obj = open('data.txt', 'r')

for line in file_obj:
    print(line.strip('\n'))

file_obj.close()

First line of data
Second line of data

In [6]:
# alternatively use a with block that closes automatically
with open('data.txt', 'r') as file_obj:
    for line in file_obj:
        print(line.strip('\n'))

First line of data
Second line of data

### Pandas I/O

In [7]:
import pandas as pd

In [9]:
# pd.read_ # after underscore press tab for list of readable formats

#### CSV

In [10]:
import csv

In [12]:
with open('data.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter= ',')
    for row in csv_reader:
        print(',  '.join(row))

1,  2,  3,  4
5,  6,  7,  8
9,  10,  11,  12

#### CSV with pandas

In [13]:
pd.read_csv(open('data.csv'), header= None)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

#### JSON

In [14]:
import json

In [19]:
with open('data.json', 'r') as json_file:
    dat_file = json.load(json_file)

print(dat_file)
print(type(dat_file))

{'firstName': 'John', 'age': 53}
<class 'dict'>

#### JSON with pandas

In [22]:
pd.read_json(open('data.json'), typ = 'series')

firstName    John
age            53
dtype: object